<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
  <context-param>
    <param-name>GEOAPIFY_API_KEY</param-name>
    <param-value>81b5aea2e39342efa7ce8ed2eb115be7</param-value>
  </context-param>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>AdminUserController</servlet-name>
    <servlet-class>Controllers.manager.AdminUserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminStatisticController</servlet-name>
    <servlet-class>Controllers.manager.AdminStatisticController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminStatisticReportController</servlet-name>
    <servlet-class>Controllers.manager.AdminStatisticReportController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>Controllers.customer.ProfileController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>Controllers.customer.AuthController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerAuthController</servlet-name>
    <servlet-class>Controllers.manager.ManagerAuthController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestController</servlet-name>
    <servlet-class>Controllers.guest.GuestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>Controllers.guest.ProductController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductSuggestController</servlet-name>
    <servlet-class>Controllers.guest.ProductSuggestController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaffDashboardController</servlet-name>
    <servlet-class>Controllers.manager.StaffDashboardController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>Controllers.customer.CartController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>Controllers.customer.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyEmailController</servlet-name>
    <servlet-class>Controllers.customer.VerifyEmailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendVerifyEmailController</servlet-name>
    <servlet-class>Controllers.customer.SendVerifyEmailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressController</servlet-name>
    <servlet-class>Controllers.customer.AddressController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressApiController</servlet-name>
    <servlet-class>Controllers.customer.AddressApiController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>Controllers.customer.PaymentController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgetPasswordController</servlet-name>
    <servlet-class>Controllers.customer.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderSuccessController</servlet-name>
    <servlet-class>Controllers.customer.OrderSuccessController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>Controllers.customer.ReviewController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerBrandController</servlet-name>
    <servlet-class>Controllers.manager.ManagerBrandController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerCategoryController</servlet-name>
    <servlet-class>Controllers.manager.ManagerCategoryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerOrderController</servlet-name>
    <servlet-class>Controllers.manager.ManagerOrderController</servlet-class>
</servlet>
<servlet>
    <servlet-name>ManagerFeedbackController</servlet-name>
    <servlet-class>Controllers.manager.ManagerFeedbackController</servlet-class>
</servlet>
  <servlet>
    <servlet-name>ManagerProductController</servlet-name>
    <servlet-class>Controllers.manager.ManagerProductController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>15728640</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>AdminVariantController</servlet-name>
    <servlet-class>Controllers.manager.AdminVariantController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerVoucherController</servlet-name>
    <servlet-class>Controllers.manager.ManagerVoucherController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminStaffController</servlet-name>
    <servlet-class>Controllers.manager.AdminStaffController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerVoucherController</servlet-name>
    <servlet-class>Controllers.customer.VoucherController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MomoPaymentController</servlet-name>
    <servlet-class>Controllers.customer.MomoPaymentController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MomoReturnController</servlet-name>
    <servlet-class>Controllers.customer.MomoReturnController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderMenuController</servlet-name>
    <servlet-class>Controllers.guest.HeaderMenuController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminImportProductController</servlet-name>
    <servlet-class>Controllers.manager.AdminImportProductController</servlet-class>
</servlet>

  <!-- Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>AdminUserController</servlet-name>
    <url-pattern>/admin/manage-users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStatisticReportController</servlet-name>
    <url-pattern>/admin/manage-statistic-report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStatisticController</servlet-name>
    <url-pattern>/admin/manage-statistic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerCategoryController</servlet-name>
    <url-pattern>/admin/manage-category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerCategoryController</servlet-name>
    <url-pattern>/admin/add-category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerCategoryController</servlet-name>
    <url-pattern>/admin/update-category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerOrderController</servlet-name>
    <url-pattern>/admin/manage-orders</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ManagerFeedbackController</servlet-name>
    <url-pattern>/admin/manage-feedback</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerAuthController</servlet-name>
    <url-pattern>/manager-auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestController</servlet-name>
    <url-pattern>/GuestController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestController</servlet-name>
    <url-pattern>/introduce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductSuggestController</servlet-name>
    <url-pattern>/products/suggest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffDashboardController</servlet-name>
    <url-pattern>/staff/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerBrandController</servlet-name>
    <url-pattern>/staff/manage-brand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerCategoryController</servlet-name>
    <url-pattern>/staff/manage-category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerProductController</servlet-name>
    <url-pattern>/staff/manage-product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/cart-update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyEmailController</servlet-name>
    <url-pattern>/verify-email</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendVerifyEmailController</servlet-name>
    <url-pattern>/send-verify-email</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressController</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressApiController</servlet-name>
    <url-pattern>/address-api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerBrandController</servlet-name>
    <url-pattern>/admin/brand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerBrandController</servlet-name>
    <url-pattern>/admin/manage-brand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetPasswordController</servlet-name>
    <url-pattern>/ForgetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderSuccessController</servlet-name>
    <url-pattern>/order-success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/review</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerProductController</servlet-name>
    <url-pattern>/admin/manage-product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminVariantController</servlet-name>
    <url-pattern>/admin/manage-variant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerOrderController</servlet-name>
    <url-pattern>/staff/manage-orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerFeedbackController</servlet-name>
    <url-pattern>/staff/manage-feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerVoucherController</servlet-name>
    <url-pattern>/admin/manage-voucher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerVoucherController</servlet-name>
    <url-pattern>/staff/manage-voucher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStaffController</servlet-name>
    <url-pattern>/admin/manage-staff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerVoucherController</servlet-name>
    <url-pattern>/my-voucher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerVoucherController</servlet-name>
    <url-pattern>/voucher-free</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MomoPaymentController</servlet-name>
    <url-pattern>/momo-payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MomoReturnController</servlet-name>
    <url-pattern>/momo-return</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderMenuController</servlet-name>
    <url-pattern>/header-menu-data</url-pattern>
  </servlet-mapping>  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>Filters.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManagerAuthFilter</filter-name>
    <filter-class>Filters.ManagerAuthFilter</filter-class>
</filter>
  
  <filter-mapping>
        <filter-name>ManagerAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerAuthFilter</filter-name>
        <url-pattern>/staff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerAuthFilter</filter-name>
        <url-pattern>/AdminControllers</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AdminImportProductController</servlet-name>
        <url-pattern>/ImportProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminImportProductController</servlet-name>
        <url-pattern>/admin/import-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminImportProductController</servlet-name>
        <url-pattern>/staff/import-product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
  
</web-app>





